In [3]:
import string
import pandas as pd
#Create DataFrame
df= pd.read_csv(r"C:\Users\Jennifer\Downloads\Starter_Code\Starter_Code\PyBank\Resources\budget_data.csv")
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
# Get the total no. of months that are in the dataset, by getting total no. of rows
row_count=len(budget_data)
Total_Months= row_count
Total_Months

NameError: name 'budget_data' is not defined

In [ ]:
# Calculate net total amount of "Profit/Losses"

Net_Total_Profit_and_Losses =df['Profit/Losses'].sum()
Net_Total_Profit_and_Losses=(f"${Net_Total_Profit_and_Losses}")
Net_Total_Profit_and_Losses

'$22564198'

In [ ]:
# Calculate changes in the overall period of "Profit/Losses"

    # Calculate changes, into column no. 3 named "Difference"
df['Difference'] = df['Profit/Losses'].diff()

    # Column "Difference" has a NaN valaue in row 0, because row 0 should not be calculated in the changes
df.loc[0, 'Difference'] = pd.NA
df['Total'] = df['Difference'].cumsum()
df

      Date  Profit/Losses  Difference      Total
0   Jan-10        1088983         NaN        NaN
1   Feb-10        -354534  -1443517.0 -1443517.0
2   Mar-10         276622    631156.0  -812361.0
3   Apr-10        -728133  -1004755.0 -1817116.0
4   May-10         852993   1581126.0  -235990.0
..     ...            ...         ...        ...
81  Oct-16        -729004  -1627245.0 -1817987.0
82  Nov-16        -112209    616795.0 -1201192.0
83  Dec-16         516313    628522.0  -572670.0
84  Jan-17         607208     90895.0  -481775.0
85  Feb-17         382539   -224669.0  -706444.0

[86 rows x 4 columns]

In [ ]:
    # Get average of changes from "Difference" 
Average=df['Difference'].mean()

    # Round average to 2 decimal points
Average_of_changes="{:.2f}".format(Average)
Average_of_changes=(f"${Average_of_changes}")
Average_of_changes

'$-8311.11'

In [ ]:
# Calculate greatest increase w/ date and amount
    # Sort values in file
Sorted= df.sort_values("Difference")
Sorted

      Date  Profit/Losses  Difference      Total
49  Feb-14        -946748  -1825558.0 -2035731.0
73  Feb-16       -1149123  -1808664.0 -2238106.0
10  Nov-10        -785750  -1736491.0 -1874733.0
81  Oct-16        -729004  -1627245.0 -1817987.0
18  Jul-11       -1066544  -1530577.0 -2155527.0
..     ...            ...         ...        ...
19  Aug-11         323846   1390390.0  -765137.0
74  Mar-16         355882   1505005.0  -733101.0
4   May-10         852993   1581126.0  -235990.0
79  Aug-16         951227   1862002.0  -137756.0
0   Jan-10        1088983         NaN        NaN

[86 rows x 4 columns]

In [ ]:
    # Let GI represent "Greatest Increase", get greatest increase w/ date and amount
GI=Sorted['Difference'].iloc[[-2]].item()
GI_profits=(f" (${GI})")
GI_Date=Sorted['Date'].iloc[[-2]].item()
GI_Date, GI_profits

('Aug-16', ' ($1862002.0)')

In [ ]:
# Calculate greatest decrease w/ date and amount
    # Let GD represent "Greatest Decrease", get greatest decrease w/ date and amount
GD=Sorted['Difference'].iloc[[0]].item()
GD_profits=(f" (${GD})")
GD_Date=Sorted['Date'].iloc[[0]].item()
GD_Date, GD_profits

('Feb-14', ' ($-1825558.0)')

In [ ]:
# Print results
print("Financial Analysis")
print("----------------------------")
print("Total Months: " +str(Total_Months))
print("Total: " +str(Net_Total_Profit_and_Losses))
print("Average Change: " +str(Average_of_changes))
print("Greatest Increase in Profits: " +str(GI_Date) +str(GI_profits))
print("Greatest Decrease in Profits: " +str(GD_Date) +str(GD_profits))

Financial Analysis
----------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002.0)
Greatest Decrease in Profits: Feb-14 ($-1825558.0)

In [ ]:
# Export results into text file budget_data.txt 

with open('budget_data.txt', 'w') as file:
    file.write("Financial Analysis\n\n")
    file.write("----------------------------\n\n")
    file.write("Total Months: 86\n\n")
    file.write("Total: $22564198 \n\n")
    file.write("Average Change: $-8311.11 \n\n")
    file.write("Greatest Increase in Profits: Aug-16 ($1862002)\n\n")
    file.write("Greatest Decrease in Profits: Feb-14 ($-1825558)")